*{
    font-family: Yomogi;
    font-weight: bolder;
    box-sizing: border-box;
}

.container{
    width: 600px;
    border: 2px solid violet;
    margin: 33px auto ;

}

.item{
    border: 3px solid red;
    margin: 33px 13px;
    padding: 12px 15px;
    
}

#fruits{
    float: left;
    width: 50%;
}

#Computer{
    float: right;
    width: 50%;
}

#stationary{
    clear: both;
    width: 100%;
}


/* 
float is css property use to float an element at the left or rigth 
code :- float: right; not the id or class elements will float to right 
but here a problem when these element started floating any other element come between them they will overlaped on them.

To handle these problem the element which come just use property clear:left or right or both
these help the element which have the float value the did not try to overlaped on you

code - clear: left;

Text-Allignment

text allignment is css property used to alligen the text comes under the id class or univarsal selector or an tag
code - text-allign: center;

options are 
[center ,  end ,  justify , left , right]

*/