*{
    font-family: cursive;
    box-sizing: border-box;
}

.container{
    background-color: red;
    border: 5px solid blue;
    width: 150px;
    height: 150px;
    position: relative;
    left: 45px;
}

/* 
Relative works from his actual position.
Absolute works from taking entire full-screen

Fixed works as fixed at a position.

html code

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt asperiores magnam, id, numquam nisi, qui quas harum suscipit quod recusandae dignissimos eligendi at. Modi voluptates provident sapiente magni odio repellat dolores obcaecati cupiditate esse cumque laborum animi aliquid necessitatibus ipsum, a labore aspernatur tenetur iste totam. Doloremque vitae explicabo reiciendis fugiat ducimus ratione ex! Hic voluptas illo eos incidunt similique esse sapiente, omnis, ipsam ullam cupiditate vitae quam voluptatum aliquam, nobis et?</p>
    <div class="container">

    </div>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, modi praesentium! Ipsa provident quo dolores facilis iusto dolorum hic at harum ullam eveniet numquam voluptate perferendis, porro nam veniam a sequi, sed eum maxime atque? Atque officia expedita voluptates adipisci perspiciatis delectus aspernatur itaque blanditiis.</p>

*/

