*{
    font-family: cursive;
}

.Forms{
    margin: 20px;
    border: 2px solid black;
    padding: 15px;
    width: 555px;
    border-radius: 19px;
}

label{
    font-weight: bold;
    font-size: x-large;
}

.Input_Text{
    padding: 8px;
    width: 300px;
    font-size: large;
    /* font-weight: bold; */
    font-family:'Varela Round' Courier, monospace;
    margin-left: 50px;
}

.Inputs{
    margin-top: 10px;
}

.Input_Date{
    padding: 8px;
    width: 300px;
    font-size: large;   
    font-family:'Varela Round' Courier, monospace;
    margin-left: 43px;
}

.Input_check{
    margin-top: 15px;
    height: 30px;
    width: 30px;
}

.Subbtn{
    padding: 10px 15px 10px 15px;
    border: 1px solid black;
    border-radius: 45px;
    font-size: large;
    background-color: brown;
    color: rgb(251, 235, 10);
}

.Subbtn:hover{
    background-color: coral;
    color: cornflowerblue;
}

.Exceptions{
    position: relative;
    left: 15px;
    bottom: 10px;
    font-size: large;
}

.P{
    margin: 0%;
    font-size: large;
    top: 115px;
    position: relative;
}